<h1>Calendario</h1>
<div class="row">

  <div class="col-12">
        <span (click)="back()"><</span>
        <span>{{ calendarObject.getCurrentStartDay() }} </span> de <span> {{ calendarObject.getCurrentStartMonth() }} </span>
        -
        <span>{{ calendarObject.getCurrentEndDay() }} </span> de <span> {{ calendarObject.getCurrentEndMonth() }} </span>
        <span (click)="next()">></span>
   </div>
</div>

<div class="row">

  <div class="col-12">

    <div class="row" *ngFor="let i of days">

      <div class="col-12">
        <div class="d-inline-block">
          <div> {{ calendarObject.getDayBy(i) }} </div>
          <div> {{ calendarObject.getWeekDayBy(i) }} </div>
        </div>
        <div (click)="open(event.getDescription())" class="d-inline-block" *ngFor="let event of calendarObject.getEventsByIndexDay(i)">
          {{ event.getTitle() }}
        </div>
      </div>

    </div>

  </div>

</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  </div>
</ng-template>
