<h1>Calendario</h1>
<div class="row">

  <div class="col-12">
        <span (click)="back()"><</span>
        <span>{{ calendarObject.getCurrentStartDay() }} </span> de <span> {{ calendarObject.getCurrentStartMonth() }} </span>
        -
        <span>{{ calendarObject.getCurrentEndDay() }} </span> de <span> {{ calendarObject.getCurrentEndMonth() }} </span>
        <span (click)="next()">></span>
   </div>
</div>

<div class="row">

  <div class="col-12">

    <div class="row" *ngFor="let i of days">

      <div class="col-12">
        <div class="d-inline-block">
          <div> {{ calendarObject.getDayBy(i) }} </div>
          <div> {{ calendarObject.getWeekDayBy(i) }} </div>
        </div>
        <div class="d-inline-block" *ngFor="let event of calendarObject.getEventsByIndexDay(i)">
          {{ event.title }}
        </div>
      </div>

    </div>

  </div>

</div>
